:root{
    --warna-hijau: #048853;
}

body{
    font-family: "poppins";
    background-color: #e5e5e5;
}


/* layer */
.navbar{
    z-index: 5;
}

*{
    z-index: 2;
}

.accent-banner{
    z-index: 1;
}


/* navbar */
.navbar-brand{
    font-size: 20px;
    font-weight: 700;
}

.nav-link{
    font-size: 16px;
    font-size: 400;
}

.nav-link.active{
    font-size: 16px;
    font-weight: 700;
}

.btn-daftar{
    width: 133px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.btn-masuk{
    width: 133px;
    height: 40px;
    background-color: #fff;
    border: none;
    color: var(--warna-hijau);
    font-size: 16px;
    font-weight: 700;
}
/* navbar end */

/* hero section */
#hero{
    background: linear-gradient(160deg, var(--warna-hijau), #000);
    height: 100vh;
    color: white;
}
.text-hero h1{
    font-size: 50px;
    font-weight: 700;
    color: white;
    line-height: 70px;

}

.text-hero p{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
    width: 85%;
}

.btn-lg{
    width: 237px;
    height: 70px;
    background-color: #fff;
    border: none;
    color: var(--warna-hijau);
    font-size: 16px;
    font-weight: 700;
}
/* hero section end */



/* layanan style */
#our-service{
    height: 100vh;
    padding: 100px 0;
    background-color: #dbfffe;
}

h1{
    font-size: 48px;
    font-weight: 500;color:
    var(--warna-hijau);
}

.sub-title{
    font-size: 18px;
    color: #000;
}

.card-service{
    width: 100%;
    height: 313px;
    border-radius: 5px;
    background-color: #fff;
    padding: 40px;
    margin: 50px;
    box-shadow: 0 0 3px 0.5px rgba(0, 0, 0, 0.2);
}

.icon-bulat{
    width: 70px;
    height: 70px;
    background-color: var(--warna-hijau);
    border-radius: 50%;
}

.card-service:hover{
    background: linear-gradient(160deg, var(--warna-hijau), #000);
    transition: all 0.3s ease-in;
}

.card-service:hover .icon-bulat{
    background-color: #fff;
    transition: all 0.3s ease-in;
}

.card-service:hover h4{
    color: #fff;
    transition: all 0.3s ease-in;
}

.card-service:hover p{
    color: #fff;
    transition: all 0.3s ease-in;
}

/* end layanan style */



/* style temukan Rumah */
#search-rumah{
    background-image: url(image/bg.png);
    height: 100vh;
}

.head-search{
    font-size: 48px;
    font-weight: 600;
    color: #fff;
}

.sub-head-search{
    font-size: 20px;
    color: #fff;
}

.nav-link-tab{
    border: none;
    height: 42px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

.jual{
    border-top-left-radius: 10px;
}

.property{
    border-top-right-radius: 10px;
}

.nav-link-tab.active{
    color: var(--warna-hijau);
    background-color: rgba(255, 255, 255, 0.7);
}

.input-group{
    height: 88px;
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom-left-radius: 10px;
}

.btn-search{
    height: 88px;
    width: 200px;
    border: none;
    color: var(--warna-hijau);
    background-color: transparent;
    font-size: 18px;
    font-weight: 400;
    border-right: solid 2px white;
}

.btn-cari{
    height: 88px;
    width: 135px;
    background-color: var(--warna-hijau);
    border: none;
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

/* end style temukan Rumah */